	.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle {
color:#fff;
	background-color:#0275d8;
	background-image:none;
	border-color:#0275d8
}
.btn-primary {
	color:#fff;
	background-color:#025aa5;
	border-color:#01549b
}	
.navbar-toggler-right {
    position: fixed;
    right: 1rem;

@media (max-width:576px) {
	.col-sm {
		-webkit-flex-basis:0;
		-ms-flex-preferred-size:0;
		flex-basis:0;
		-webkit-box-flex:1;
		-webkit-flex-grow:1;
		-ms-flex-positive:1;
		flex-grow:1;
		max-width:100%
	}
	.col-sm-auto {
		-webkit-box-flex:0;
		-webkit-flex:0 0 auto;
		-ms-flex:0 0 auto;
		flex:0 0 auto;
		width:auto
	}
	.col-sm-1 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 8.333333%;
		-ms-flex:0 0 8.333333%;
		flex:0 0 8.333333%;
		max-width:8.333333%
	}
	.col-sm-2 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 16.666667%;
		-ms-flex:0 0 16.666667%;
		flex:0 0 16.666667%;
		max-width:16.666667%
	}
	.col-sm-3 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 25%;
		-ms-flex:0 0 25%;
		flex:0 0 25%;
		max-width:25%
	}
	.col-sm-4 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 33.333333%;
		-ms-flex:0 0 33.333333%;
		flex:0 0 33.333333%;
		max-width:33.333333%
	}
	.col-sm-5 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 41.666667%;
		-ms-flex:0 0 41.666667%;
		flex:0 0 41.666667%;
		max-width:41.666667%
	}
	.col-sm-6 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 50%;
		-ms-flex:0 0 50%;
		flex:0 0 50%;
		max-width:50%
	}
	.col-sm-7 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 58.333333%;
		-ms-flex:0 0 58.333333%;
		flex:0 0 58.333333%;
		max-width:58.333333%
	}
	.col-sm-8 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 66.666667%;
		-ms-flex:0 0 66.666667%;
		flex:0 0 66.666667%;
		max-width:66.666667%
	}
	.col-sm-9 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 75%;
		-ms-flex:0 0 75%;
		flex:0 0 75%;
		max-width:75%
	}
	.col-sm-10 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 83.333333%;
		-ms-flex:0 0 83.333333%;
		flex:0 0 83.333333%;
		max-width:83.333333%
	}
	.col-sm-11 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 91.666667%;
		-ms-flex:0 0 91.666667%;
		flex:0 0 91.666667%;
		max-width:91.666667%
	}
	.col-sm-12 {
		-webkit-box-flex:0;
		-webkit-flex:0 0 100%;
		-ms-flex:0 0 100%;
		flex:0 0 100%;
		max-width:100%
	}
	.pull-sm-0 {
		right:auto
	}
	.pull-sm-1 {
		right:8.333333%
	}
	.pull-sm-2 {
		right:16.666667%
	}
	.pull-sm-3 {
		right:25%
	}
	.pull-sm-4 {
		right:33.333333%
	}
	.pull-sm-5 {
		right:41.666667%
	}
	.pull-sm-6 {
		right:50%
	}
	.pull-sm-7 {
		right:58.333333%
	}
	.pull-sm-8 {
		right:66.666667%
	}
	.pull-sm-9 {
		right:75%
	}
	.pull-sm-10 {
		right:83.333333%
	}
	.pull-sm-11 {
		right:91.666667%
	}
	.pull-sm-12 {
		right:100%
	}
	.push-sm-0 {
		left:auto
	}
	.push-sm-1 {
		left:8.333333%
	}
	.push-sm-2 {
		left:16.666667%
	}
	.push-sm-3 {
		left:25%
	}
	.push-sm-4 {
		left:33.333333%
	}
	.push-sm-5 {
		left:41.666667%
	}
	.push-sm-6 {
		left:50%
	}
	.push-sm-7 {
		left:58.333333%
	}
	.push-sm-8 {
		left:66.666667%
	}
	.push-sm-9 {
		left:75%
	}
	.push-sm-10 {
		left:83.333333%
	}
	.push-sm-11 {
		left:91.666667%
	}
	.push-sm-12 {
		left:100%
	}
	.offset-sm-0 {
		margin-left:0
	}
	.offset-sm-1 {
		margin-left:8.333333%
	}
	.offset-sm-2 {
		margin-left:16.666667%
	}
	.offset-sm-3 {
		margin-left:25%
	}
	.offset-sm-4 {
		margin-left:33.333333%
	}
	.offset-sm-5 {
		margin-left:41.666667%
	}
	.offset-sm-6 {
		margin-left:50%
	}
	.offset-sm-7 {
		margin-left:58.333333%
	}
	.offset-sm-8 {
		margin-left:66.666667%
	}
	.offset-sm-9 {
		margin-left:75%
	}
	.offset-sm-10 {
		margin-left:83.333333%
	}
	.offset-sm-11 {
		margin-left:91.666667%
	}
}
